article{
    .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // align-items: center;
        
        .row-1 {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            // max-height: 400px;


            .text {
                padding: 112px;
                // background: red;
                max-width: 50%;

            }

            img {
                object-fit: cover;
                
            }
        }

        .row-2 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
           
            .text-1 {
                padding: 112px;
                align-items: center;
                width: 50%;
                // background: red;
            }
            img {
                object-fit: cover;
            }
        }
    }
}
