article{
    .main{
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        // align-items: center;
        
        .row-1 {
            display: flex;
            // flex-wrap: wrap;
            flex-direction: row;
            align-items: center;

            .text {
                max-width: 200px;
                margin: auto;
            }

            img {
                object-fit: cover;
                max-width: 50%;

            }
        }

        .row-2 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
           
            .text-1 {
                max-width: 200px;
                margin: auto;
            
            }
            img {
                object-fit: cover;
                max-width: 50%;

            }
        }

    }
}
