footer{
    padding: 50px 100px;
    
    .row {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;

        .about {
            display: flex;
            flex-direction: column;
            width: 50%;
            
            ul{
                padding-bottom: 20px;
                display: flex;
                list-style: none;
                a{
                    text-decoration: none;
                    color:  #007bff ;
                }
                li {
                    display: block;
                    padding-right: 10px;
                }
            }
        }
        .socials {
            color:  #007bff  ;
            display: flex;
            width: 50%;
            list-style: none;
            justify-content: flex-end;
            font-size: 32px;
            gap: 30px;
        }
    }
}