nav .container {
    background: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    
    a {
        text-decoration: none;
    }
    
    .business {
        color: black;
    }
    
    .sign-in {
        background: #007bff ;
        padding: 8px 10px;
        border-radius: 5px;
        color: white;
        transition: 0.3s;
    }

    .sign-in:hover {
        background: blue;       
        box-shadow: 0 0 5px black;
    }
}