
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
@import "nav.scss";
@import "header.scss";
@import "section.scss";
@import "article.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "lato";
}


@media (max-width: 768px) {

    header .email {
        // flex-wrap: wrap;
        // justify-content: center;
    }

    nav .container {
        padding: 0;
        margin-inline: 30px;
    }
    section .container .row {
        flex-direction: column;
    }
    article {
        
    }
}


@media (max-width: 496px) {
    header {
        

        .header{
        // width: 100%;
            // margin: 0;
            // padding-inline: 20px ;
            h1 {

            }
            .email{
                display: flex;                
                flex-wrap: wrap;
                justify-content: center;
                // width: 100%;

                input {
                    width: 100%;

                    margin: 0;
                    // padding: 12px 0 ;
                }
                a {
                    // padding: 12px 0;
                    width: 100%;

                }
            }

           
        }
        
    }
    
    
    
}

